# 1. Impots

In [7]:
import requests
import pandas as pd

from bs4 import BeautifulSoup

# 2. Explocação

In [10]:
response = requests.get('https://www.imovirtual.com/arrendar/apartamento/', headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"})

In [11]:
response

In [16]:
if response.status_code ==  200:
    soup = BeautifulSoup(response.content, "html.parser")

    soup

In [20]:
list_ads = soup.find_all('article')

In [24]:
for ad in list_ads:
   # print(ad.find('li', {'class': 'offer-item-price'}))
    print(ad.find('span', {'class': 'offer-item-title'}))

<span class="offer-item-title">Apartamento T2+1 para arrendamento com móveis em Arroios</span>
<span class="offer-item-title">Apartamento T1 mobilado e equipado para arrendamento no Monte Estoril</span>
<span class="offer-item-title">Apartamento T2 para arrendar no Aviz, em Aldoar, Porto</span>
<span class="offer-item-title">Apartamento com 160m2 e estacionamento, para arrendar em Miraflores</span>
<span class="offer-item-title">Apartamento T2 novo, na Azenha, Paranhos</span>
<span class="offer-item-title">Apartamento T1Kit , novo, em frente ao Hospital S. João</span>
<span class="offer-item-title">T3 para arrendamento no condomínio Parque Oceano II em Oe...</span>
<span class="offer-item-title">Apartamento T1 à arrendar na rua Professor Armando de Castro, 17 Porto</span>
<span class="offer-item-title">Apartamento T2 com terraço para arrendamento, na Graça</span>
<span class="offer-item-title">Apartamento T1 Paranhos</span>
<span class="offer-item-title">Apartamento T1 Hospital S João, Paranhos</span>
<span class="offer-item-title">Apartamento T3 para arrendamento na Penha de França, Lisboa</span>
<span class="offer-item-title">Apartamento para arrendamento na Sobreda perto das praias</span>
<span class="offer-item-title">Apartamento T4 para arrendamento</span>
<span class="offer-item-title">T4 Alcântara Residence</span>
<span class="offer-item-title">Apartamento T5 em Lisboa de 190,00 m2</span>
<span class="offer-item-title">Apartamento T3 | Av. Roma</span>
<span class="offer-item-title">Apartamento T3 para arrendamento</span>
<span class="offer-item-title">Apartamento T1 - Guimarães - Universidade do Minho - Mobilado e Equipa</span>
<span class="offer-item-title">Apartamento T2 | Telheiras Sul</span>
<span class="offer-item-title">T1+1 (transformado em T2) a 1,5km da rotunda de Santo Ovídeo</span>
<span class="offer-item-title">Apartamento T1+2 com jardim perto do Marquês de Pombal, Lisboa</span>
<span class="offer-item-title">T3 em Miraflores como novo, totalmente mobilado.</span>
<span class="offer-item-title">T3 nos Fidalguinhos (AF)</span>

In [ ]:
/html/body/div[3]/main/section[2]/div/div/div[1]/div/article[1]/div[1]/ul[1]/li[2]

SyntaxError: invalid syntax (3870516406.py, line 1)